@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Poppins';
}

.active {
  text-decoration: underline;
  text-underline-offset: 10px;
}

input[type="checkbox"] {
  accent-color: #5ac0ff;
}

